apiVersion: v1
kind: Service
metadata:
  name: product-api
spec:
  selector:
    app: product-api
  ports:
    - port: 3001
      targetPort: 3001
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: product-api
  template:
    metadata:
      labels:
        app: product-api
      annotations:
        instrumentation.opentelemetry.io/inject-nodejs: "true"
    spec:
      containers:
        - name: product-api
          image: YOUR_REGISTRY/product-api:latest
          ports:
            - containerPort: 3001
          env:
            - name: PORT
              value: "3001"
            - name: INVENTORY_URL
              value: "http://inventory:3002"
